[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
requests = "*"
apscheduler = "*"
psycopg = {version = "*", extras = ["binary", "pool"]}
backoff = "*"
clickhouse-connect = "*"
dacite = "*"

[dev-packages]
pre-commit = "*"
csvkit = "*"

[requires]
python_version = "3.11.5"
